@import "./__close/popup__close.css";
@import "./__color/popup__color.css";
@import "./__color-label/popup__color-label.css";
@import "./__color-input/popup__color-input.css";
@import "./__btn/popup__btn.css";

.popup {
  display: grid;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
}

